<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' type='text/css'>

<h1>Whoops!</h1>
<p>Something went wrong</p>
<br>
<p>Servers4All Have been notified of this issue automatically</p>
<style>
    body {
        display: inline-block;
        background: #00AFF9 url(https://cbwconline.com/IMG/Codepen/Unplugged.png) center/cover no-repeat;
        height: 100vh;
        margin: 0;
        color: white;
    }

    h1 {
        margin: .8em 3rem;
        font: 4em Roboto;
    }

    p {
        display: inline-block;
        margin: .2em 3rem;
        font: 26px Roboto;
    }

</style>