<p id="title" title="error code: 0x000b3dcv: H̶̨͟͠҉e͘͘͜͜'̛͢s҉͏̢ ̷͡c̶̨̕o̕m͜͠į͢͞n̕͠͞͡g͢͏̴ ">ಠ_ಠ</p>
<p id="other" title="error code: 0x000b3dcv: H̶̨͟͠҉e͘͘͜͜'̛͢s҉͏̢ ̷͡c̶̨̕o̕m͜͠į͢͞n̕͠͞͡g͢͏̴ ">Nothing to see here - move on</p>
<style>
    * { font-family:verdana; text-align:center; }

    body {

        background:#ccc;

    }

    #title {

        font-sie:80px;

    }

    #other {

        font-sie:30px;

    }


</style>