<html>
<head>
    <title>Maintenance Mode</title>
</head>
<body>
<header>
    <h1 id="header-title">Maintenance Mode</h1>
    <h2 id="header-motto">{{ url }} is currently under maintenance</h2>
</header>

</body>
<style>
    @import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
    body{
        background: #F7F7F7;
    }
    #header-title{
        font-family: 'Lato', Calibri, Arial, sans-serif;
        font-weight: 300;
        font-size: 50px;
        color:#5A9DC7;
        width: 500px;
        margin: 50px auto 0 auto;
        text-align: center;
        padding: 0;
    }
    #header-motto{
        font-family: 'Lato', Calibri, Arial, sans-serif;
        font-weight: 300;
        font-size: 30px;
        color:#999999;
        width: 800px;
        margin: 10px auto;
        text-align: center;
        border-top: 1px solid #eaeaea;
        border-bottom: 1px solid #eaeaea;
        padding-top: 30px;
        padding-bottom: 30px;
    }
</style>
</html>