{% extends 'userBundle/base.full.html.twig' %}


{% block stylesheets %}
<style>
    .offline
    {
        background: #f00;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: inline-block;

    }
    .online
    {
        background: lawngreen;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: inline-block;

    }

</style>


{% endblock %}



{% block body %}

<div class="uk-card uk-card-body uk-card-primary uk-card-" style="margin:40px">

    <div class="uk-card-content">
        <div class="uk-card-header">
            <h2 style="text-align: center">403</h2>
            <hr>
        </div>
        <div class="uk-child-width-1-4@m" uk-grid style="margin-left:  31px;">

        </div>

        <div class="uk-child-width-1-2@m" uk-grid style="margin-left:  34px;">
            <p> You have tried to do something you are not allowed to do.
                Naughty Naughty
            </p>

        </div>
        <div class="uk-card-footer">
            <hr>
            No service issues. Everything running.
        </div>

    </div>

</div>
{% endblock %}