{% extends 'base.html.twig' %}

{% block sidebar %}
<div class="d-flex align-items-stretch">
<nav id="sidebar">
    <div class="sidebar-header d-flex align-items-center">
    <div class="avatar"><img src="img/avatar-6.jpg" alt="..." class="img-fluid rounded-circle"></div>
    <div class="title">
        <h1 class="h5">{{ name }}</h1>
    </div>
    </div><span class="heading">Main</span>
    <ul class="list-unstyled">
        <li class="active"><a href="{{ path("adminHomepage") }}"><i class="icon-home"></i>Home</a></li>
        <li><a href="#dashvariants" aria-expanded="false" data-toggle="collapse"> <i class="icon-windows"></i>Users </a>
            <ul id="dashvariants" class="collapse list-unstyled">
        <li><a href="/admin/users">View Users</a></li>
        <li><a href="#">Add Users</a></li>
    </ul>
    </li>
    <li><a href="#dashvariants-2" aria-expanded="false" data-toggle="collapse"> <i class="icon-light-bulb"></i>Admins </a>
        <ul id="dashvariants-2" class="collapse list-unstyled">
    <li><a href="/admin/admins">View Admins</a></li>
    <li><a href="/admin/admins/create">Add Admins</a></li>
    </ul>
    </li>
    <li><a href="#dashvariants-3" aria-expanded="false" data-toggle="collapse"> <i class="icon-chart"></i>Network </a>
        <ul id="dashvariants-3" class="collapse list-unstyled">
    <li><a href="/admin/network">View Network Servers</a></li>
    <li><a href="/admin/network/add">Add Network Servers</a></li>
    </ul>
    </li>
    </ul>
</nav>
{% endblock %}