{% extends 'admin.base.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div id="ftpContainer">

                </div>
            </div>
        </div>
    </div>
    </div>


{% endblock %}

