{% extends 'admin.base.html.twig' %}


{% block body %}

    <div class="page-content">
        <div class="page-header">
            <div class="container-fluid">
                <h2 class="h5 no-margin-bottom">Dashboard</h2>
                <hr>

                <section class="no-padding-top no-padding-bottom">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                        <div class="statistic-block block">
                        <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon"><i class="icon-user-1"></i></div><strong>Panel Users</strong>
                        </div>
                        <div class="number dashtext-1">4</div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
        <div class="statistic-block block">
        <div class="progress-details d-flex align-items-end justify-content-between">
        <div class="title">
            <div class="icon"><i class="icon-user"></i></div><strong>Panel Admins</strong>
        </div>
        <div class="number dashtext-2">2</div>
    </div>
    </div>
    </div>
    <div class="col-md-3 col-sm-6">
    <div class="statistic-block block">
    <div class="progress-details d-flex align-items-end justify-content-between">
    <div class="title">
        <div class="icon"><i class="icon-paper-and-pencil"></i></div><strong>Network Servers</strong>
    </div>
    <div class="number dashtext-3">0</div>
    </div>
    </div>
    </div>
    <div class="col-md-3 col-sm-6">
    <div class="statistic-block block">
    <div class="progress-details d-flex align-items-end justify-content-between">
    <div class="title">
        <div class="icon"><i class="icon-writing-whiteboard"></i></div><strong>Panel Status</strong>
    </div>
    <div class="number dashtext-4">Development</div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    <hr>
{% endblock %}
