{% extends 'userBundle/base.full.html.twig' %}


{% block stylesheets %}
<style>
    .offline
    {
        background: #f00;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: inline-block;

    }
    .online
    {
        background: lawngreen;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: inline-block;

    }

</style>


{% endblock %}



{% block body %}

<div class="uk-card uk-card-body uk-card-primary uk-card-" style="margin:40px">

    <div class="uk-card-content">
        <div class="uk-card-header">
            <h3>Game Servers</h3>
            <hr>
        </div>
        <div class="uk-child-width-1-4@m" uk-grid style="margin-left:  31px;">

        </div>

        <div class="uk-child-width-1-2@m" uk-grid style="margin-left:  34px;">

            <table class="uk-table uk-table-justify uk-table-divider" style="width: 100%;">
                <thead>
                <tr>
                    <th class="uk-width-small">Server ID</th>
                    <th>Server Name</th>
                    <th>Server Status</th>
                    <th>More Info</th>
                </tr>
                </thead>
                <tbody>
                {% for server in servers  %}

                <tr>
                        <td>{{ server.id }}</td>
                        <td>{{ server.serverName }}</td>
                    {% if server.status == "Online" %}
                        <td><div class="online"></div> Online</td>
                    {% elseif server.status == "Offline" %}
                        <td><div class="offline"></div> Offline</td>
                    {% else %}
                        <td><div></div> {{ server.status }}</td>
                    {% endif %}
                        <td><button class="uk-button uk-button-default" type="button">More Info</button></td>

                </tr>
                {% endfor %}

                </tbody>
            </table>


        </div>
        <div class="uk-card-footer">
            <hr>
            No service issues. Everything running.
        </div>

    </div>

</div>
{% endblock %}