{% extends 'admin.base.html.twig' %}

{% block body %}


<div class="container-fluid">
    <hr>

    <section class="no-padding-top no-padding-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="statistic-block block">
                        <div class="progress-details d-flex align-items-end justify-content-between">
                            <div class="title">
                                <div class="icon"><i class="icon-user-1"></i></div><strong>Panel Users</strong>
                            </div>
                            <div class="number dashtext-1"><a style="color: inherit" href="">{{ block.users }}</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="statistic-block block">
                        <div class="progress-details d-flex align-items-end justify-content-between">
                            <div class="title">
                                <div class="icon"><i class="icon-user"></i></div><strong>Panel Admins</strong>
                            </div>
                            <div class="number dashtext-2"><a style="color: inherit" href="">{{ block.admins }}</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="statistic-block block">
                        <div class="progress-details d-flex align-items-end justify-content-between">
                            <div class="title">
                                <div class="icon"><i class="icon-paper-and-pencil"></i></div><strong>Network Servers</strong>
                            </div>
                            <div class="number dashtext-3"><a style="color: inherit" href=""></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="statistic-block block">
                        <div class="progress-details d-flex align-items-end justify-content-between">
                            <div class="title">
                                <div class="icon"><i class="icon-writing-whiteboard"></i></div><strong>Panel Status</strong>
                            </div>
                            <div class="number dashtext-4"></div>
                        </div>


    </section>
    <hr>
{% endblock %}
