{% extends '/serverBundle/settings/server.default.settings.base.html.twig' %}

{% block tabcontent %}


    <form action = '' method = 'POST' >


        <div class="row" >
            <div class="col-md-12" >
                <div class="form-group" >
                    <label > Start Command: </label >
                    <textarea  name="startupCommand" class="form-control" id="" cols="10" rows="3">{{ cfg.startupCommand }}</textarea>
                    <small>Possible Replacements:
                        <ul>
                            <li>
                                {steam.name} - The steam name of the game being updated eh (340)
                            </li>

                        </ul>
                    </small>
                </div >
            </div >


        </div>





        <button type = "submit" class="btn btn-info btn-fill pull-right" > Update Startup Settings </button >
        <div class="clearfix" ></div >
    </form >

{% endblock %}