{% extends '/serverBundle/settings/server.default.settings.base.html.twig' %}

{% block tabcontent %}


    <form action = '' method = 'POST' >

        <div class="row">
            <div class="col-md-12" >
                <div class="form-group">
                    <label style="color:white;"> Editing config for {{ template.templateName }}</label>
                    <br>
                </div >
            </div >
        </div>
        <div class="row">
        <div class="col-md-3" >
                <div class="form-group" >
                    <label>Default RAM</label >
                    <input type="text" class="form-control"   name="defaultRam" value = "{{ cfg.defaultRam }}" >
                </div >
            </div >
            <div class="col-md-3" >
                <div class="form-group" >
                    <label > Default Player Slots</label >
                    <input type = "text" required class="form-control" name='defaultPlayerSlots' value="{{ cfg.defaultPlayerSlots }}"  >
                </div >
            </div >


        </div >

        <div class="row" >
            <div class="col-md-6" >
                <div class="form-group" >
                    <label > Update Command: </label >
                    <textarea  name="updateCommand" class="form-control" id="" cols="10" rows="3">{{ cfg.updateCommand }}</textarea>
                    <small>Possible Replacements:
                        <ul>
                            <li>
                                {steam.name} - The steam name of the game being updated eh (340)
                            </li>

                        </ul>
                    </small>
                </div >
            </div >

            <div class="col-md-6" >
                <div class="form-group" >
                    <label > Query Engine </label >
                    <br>
                    <select style="width: 100%" name="queryEngine" class="custom-select" id="">
                        <option value="1">Option 1</option>
                    </select>
                </div >
            </div >

        </div>





        <button type = "submit" class="btn btn-info btn-fill pull-right" > Update Advanced Settings </button >
        <div class="clearfix" ></div >
    </form >

{% endblock %}