{% extends 'userBundle/base.full.html.twig' %}


{% block stylesheets %}
<style>
    .offline
    {
        background: #f00;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: inline-block;

    }
    .online
    {
        background: lawngreen;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: inline-block;

    }

</style>


{% endblock %}



{% block body %}

<div class="uk-card uk-card-body uk-card-primary uk-card-" style="margin:40px">

    <div class="uk-card-content">
        <div class="uk-card-header">
            <h3>Dashboard</h3>
            <hr>
        </div>
        <div class="uk-child-width-1-2@m" uk-grid style="margin-left:  31px;">

        <p>Welcome Back... {{ user.firstName }}</p>
        </div>

        <div class="uk-child-width-1-2@m" uk-grid style="margin-left:  31px;">


        <div class="uk-card uk-card-body uk-card-default uk-card-small" style="margin: 15px;width:  46%;">
            <div class="uk-card-header" >
                <h3 style="color:black;">My Servers</h3>
            </div>
            <h3 ><a href="" style="color:black !important;"><div class="online"></div> &nbsp;Server Name Here </a></h3>
            <hr>
            <h3 ><a href="" style="color:black !important;"><div class="online"></div>&nbsp; Server Name Here 2 </a></h3>
            <hr>
            <h3 ><a href="" style="color:black !important;"><div class="offline"></div>&nbsp; Server Name Here 3 </a></h3>
            <hr>
            <h3 ><a href="" style="color:black !important;"><div class="online"></div>&nbsp; Server Name Here 4</a></h3>
            <hr>
        </div>

        <div class="uk-card uk-card-body uk-card-default uk-card-small" style="margin: 15px;width:  46%;">
            <div class="uk-card-header" >
                <h3 style="color:black;">Server Status</h3>
            </div>
            <h3 style="color:black;">Web Services: No Known Issues</h3>
            <hr>
            <h3 style="color:black;">Game Servers: No Known Issues</h3>
            <hr>
            <h3 style="color:black;">API Services: No Known Issues</h3>
            <hr>
            <h3 style="color:black;">Network: No Known Issues</h3>
            <hr>
        </div>

        </div>
        <div class="uk-card-footer">
            <hr>
            Simpanel Dashboard V0.10
        </div>

    </div>

</div>
{% endblock %}