<html>
<h1> You have had an account created at SimPanel</h1>
<p> Your account details are as below</p>
<ul>
    <li>Your username is {{ username }}</li>
    <li>Your password is {{ password }}</li>
    <li>You can login  <a href='{{ loginurl }}'>Here</a></li>

</ul>

<p><i>If you did not request this please contact support</i></p>

</html>
