{% extends '/profiles/admin/profile.admin.base.html.twig' %}


{% block tabcontent %}


    <form action = '' method = 'POST' >

        <div class="row">
            <div class="col-md-12" >
                <div class="form-group">
                    <label> Current Password </label>
                    <input type="password" required class="form-control"  name='currentPassword'>
                </div >
            </div >

        </div>

        <div class="row">
            <div class="col-md-6" >
                <div class="form-group" >
                    <label > New Password </label >
                    <input type="password" required class="form-control" name = 'newPassword' >
                </div >
            </div >
            <div class="col-md-6" >
                <div class="form-group" >
                    <label > Confirm New Pasword </label >
                    <input type="password" required class="form-control"  name='newPasswordConfirmation'  >
                </div >
        </div >
        </div>




        <button type = "submit" class="btn btn-info btn-fill pull-right" > Update Password </button >
        <div class="clearfix" ></div >
    </form >

{% endblock %}