{% extends '/profiles/admin/profile.admin.base.html.twig' %}


{% block tabcontent %}


    <form action = '' method = 'POST' >

        <div class="form-group row">
        <label class="col-sm-3 form-control-label">TFA Secret</label>
        <div class="col-sm-9">
            <input id="inputHorizontalSuccess" readonly type="text" name='tfa_secret' placeholder="" value='{{ tfa.secret }}' required class="form-control form-control-success"><small class="form-text"></small>
        </div>
        </div>
        <div class="form-group row">
        <label class="col-sm-3 form-control-label">TFA Barcode</label>
        <div class="col-sm-9">
            <img src="{{ tfa.barcode }}" alt="">
        </div>
        </div>

        <div class="form-group row">
        <label class="col-sm-3 form-control-label">TFA Code</label>
        <div class="col-sm-9">
            <input id="inputHorizontalWarning" type="text" name='tfa-code' placeholder="" class="form-control form-control-warning"><small class="form-text"></small>
        </div>
        </div>

        <div class="form-group row">
        <div class="col-sm-9 offset-sm-3">
        <input type="submit" value="Create" class="btn btn-primary">
        </div>
        </div>
    </form >

{% endblock %}