{% extends '/profiles/admin/profile.admin.base.html.twig' %}


{% block tabcontent %}


    <form action = '' method = 'POST' >

        <div class="row">
            <div class="col-md-12" >
                <div class="form-group">
                    <label> TFA Status </label>
                    <input type="text" readonly class="form-control" value="{% if currentUser.tfaStatus == 0%}Not Active {% endif%}
{% if currentUser.tfaStatus == 1 %}Active {% endif%}" name='currentAPIKey'>
                </div >
            </div >

        </div>
        <a href="{{ path('AdminProfileTFASetup') }}" class="btn btn-info btn-fill pull-right" > {% if currentUser.tfaStatus == 0%} Activate {% endif%}
            {% if currentUser.tfaStatus == 1 %}Deactivate  {% endif%} TFA </a >
        <div class="clearfix" ></div >
    </form >

{% endblock %}